!!!
%html
  %head
    %title= "#{presentation.title} - #{presentation.presenter}"
    %link{ :href => "/stylesheets/slides.css", :rel => "stylesheet", :media => "screen", :type => "text/css" }
    %script{ :type => "text/javascript", :src => "/javascripts/jquery-1.3.2.js" }
    %script{ :type => "text/javascript", :src => "/javascripts/jquery.easing.js" }
    %script{ :type => "text/javascript", :src => "/javascripts/jquery.hotkeys.js" }
    %script{ :type => "text/javascript", :src => "/javascripts/jquery.hash-changed.js" }
    %script{ :type => "text/javascript", :src => "/javascripts/slides.js" }
    - if @slide.dynamic?
      %script{ :type => "text/javascript", :src => "/javascripts/jquery.ekko.js" }
      %script{ :type => "text/javascript", :charset => "utf-8" }
      :javascript
        jQuery(document).ready(function () {
          jQuery('#slide-container > div').ekko({
          url : '/slides/#{@slide.id}/update',
          minTimeout : 500,
          }, function (data) {
            $('#slide-container > div').empty().append(data).attr('rel', 'updated');
          });
        });
  %body
    #header
      -if @previous_slide
        %a{:href => "/slides/#{@previous_slide}", :id => "previous"} Previous
      -if @next_slide
        %a{:href => "/slides/#{@next_slide}", :id => "next"} Next
    #slides
      #track
        #slide-container{:class => @slide.classes}
          %div{ :id => "slide-#{@slide.id}", :class => 'content'}~ @slide.html
